.context_item_set {
  padding: 5px;
  background-color: #e5e3c0;
  clear: both;
  margin-bottom: 5px;
}
.context_item_set .form-item {
  float: left;
  margin-right: 10px !important;
}

.context_item_set .form-item:first-child {
  width: 70%;
}
.context_item_set .form-item label {
  display: inline;
  font-weight: normal;
  font-style: italic;
}

.form-item-reactions-plugins-lazy-load-dom-elements-custom-elementset-element-count label {
  float: left;
  padding-right: 10px !important;
}
.form-item-reactions-plugins-lazy-load-dom-elements-custom-elementset-element-count form-select {
  float: left;
}
.form-item-reactions-plugins-lazy-load-dom-elements-custom-elementset-element-count {
  clear: both;
}

.element-count-wrapper {
  border: 1px dashed;
}

.form-item-context-asset-manager-scan-contrib-modules,
.form-item-context-asset-manager-scan-core-modules {
  clear: both;
}
#edit-context-asset-manager-scan-core-modules .form-type-checkbox,
#edit-context-asset-manager-scan-contrib-modules .form-type-checkbox {
  float: left;
  padding: 5px;
}

div.form-item-context-asset-manager-scan-contrib-modules-contrib-select-all,
div.form-item-context-asset-manager-scan-core-modules-core-select-all {
  width: 100%;
  font-weight: bold;
}

div.context-asset-manager-admin-form-warning {
  background-color: #f9f9d1;
  border: #9b963c 1px solid;
  padding: 5px;
  color: #636041;
  font-style: italic;
  font-weight: bold;
}
